.deck-page {
    min-height: calc(100vh - 170px);
    background: linear-gradient(90deg, #ff3f3f 0%, #4185eb 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.chapter-content {
    background: rgba(255, 255, 255, 0.85);
    padding: 1.25rem 1.5rem;
    border-radius: 8px;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.side-icon {
    font-size: 8rem;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.learned-icon {
    right: 5%;
}

.not-learned-icon {
    left: 5%;
}

@media (max-width: 768px) {
    .side-icon {
        font-size: 5rem;
        transform: translateY(-50%);
    }
}
@media (max-width: 480px) {
    .side-icon {
        font-size: 3rem;
        transform: translateY(-50%);
    }
    .learned-icon {
        right: 2%;
    }

    .not-learned-icon {
        left: 2%;
    }
}
.deck-wrap:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.preview-text {
    transition: opacity 250ms;
}

.card:not(.active) .preview-text {
    opacity: .1;
}

.progress {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 6px;
    border-radius: 0 0 8px 8px;
    transition: width 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    background: #9b4dff;
    height: 100%;
}
