body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background: linear-gradient(-90deg, #d633ff55, #9b4dff55);
    color: #111;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background: white;
    border-bottom: 1px solid #eee;
}

.main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}
.link {
    color: #9b4dff;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}